---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";

export const prerender = true;
---

<Layout>
  <h1>Nick Van Exan</h1>
  <p>
    Software developer and certified privacy professional (CIPP C/E). Helping
    organizations build <em>ethical</em> products and services people can trust.
  </p>
  <nav class="index-links">
    <ul>
      <li><a href="/now">Now</a></li>
      <li><a href="/changelog">Changelog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/fragments">Fragments</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/photos">Photos</a></li>
    </ul>
  </nav>
  <Contact />
</Layout>
