<section class="article-footer">
  <p>
    <em
      >Nice, you made it to the end of this post. Thanks for reading. Other
      posts by me are over on my <a href="https://nick.vanexan.ca/writing"
        >writing page</a
      >. If you'd like to subscribe to this blog, you can do so via <a
        href="/feed.xml">RSS</a
      > or <a href="https://buttondown.email/nickvanexan" target="_blank"
        >Email Newsletter</a
      >.</em>
  </p>
</section>
