---

---

<h2 class="heading">Contact</h2>

<ul>
  <li>
    Email: <a href="mailto:hellonick@vanexan.ca">hellonick@vanexan.ca</a>
  </li>
  <li>
    GitHub: <a href="https://github.com/nvanexan" target="_blank">@nvanexan</a>
  </li>
  <li>
    Follow via <a href="/feed.xml">RSS</a> or <a
      href="https://buttondown.email/nickvanexan"
      target="_blank">Email</a
    >
  </li>
  <li>
    Support via <a href="https://ko-fi.com/nvanexan" target="_blank">Ko-fi</a>
  </li>
</ul>
