/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

/* code[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: var(--fg);
  background: var(--prism-bg);
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 1.5em;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: var(--fg);
  background: var(--prism-bg);
  font-family: var(--font-mono);
  font-size: 14px;
  line-height: 1.5em;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: auto;
  position: relative;
  margin: 0;
  padding: 2em;
}


code[class*="language-"]::selection {
  background: #363636";
}
pre[class*="language-"]::selection {
  background: "#363636";
} */

:root {
  --token-yellow-light: #f8c555;
  --token-yellow-dark: #b7913e;
  --token-green-light: #7ec699;
  --token-green-dark: #12a147;
  --token-orange-light: #f08d49;
  --token-orange-dark: #ed690e;
  --token-pink: #cc99cd;
  --token-dark-blue: #32349f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --token-orange: var(--token-orange-light);
    --token-yellow: var(--token-yellow-light);
    --token-green: var(--token-green-light);
    --token-keyword: var(--token-pink);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --token-orange: var(--token-orange-dark);
    --token-yellow: var(--token-yellow-dark);
    --token-green: var(--token-green-dark);
    --token-keyword: var(--token-dark-blue);
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--fg);
  background: var(--prism-bg);
  font-family: var(--font-mono);
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  border-radius: 5px;
  margin: 4em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  /* background: #2d2d2d; */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: var(--token-orange);
  font-weight: bold;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--token-yellow);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--token-keyword);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--token-green);
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
